@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------ *\
 * BASE
\* ------------------ */

html {
    scroll-behavior: smooth;
}

body {
    @apply bg-white text-gray-900 dark:bg-zinc-900 dark:text-zinc-50 transition-colors duration-300;
}

/* ------------------ *\
 * TYPOGRAPHY
\* ------------------ */

.headline-1,
.headline-2 {
    @apply max-w-max;
    background: -webkit-linear-gradient(0deg, #000000, #282828); /* Default Light Theme */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Dark mode support */
.dark .headline-1,
.dark .headline-2 {
    background: -webkit-linear-gradient(0deg, #fafafa, #d4d4d8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.headline-1 {
    @apply text-5xl leading-tight font-semibold lg:text-[55px] lg:leading-[1.15];
}

.headline-2 {
    @apply text-3xl lg:text-4xl lg:leading-tight font-semibold;
}


.title-1 {
    @apply text-[18px] font-bold;
}

/* ------------------ *\
 * UTILITIES
\* ------------------ */

.material-symbols-rounded {
    @apply w-[1em] h-[1em] overflow-hidden;
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.container {
    @apply px-4 mx-auto lg:px-8 xl:max-w-6xl;
}

.img-box {
    @apply bg-zinc-700 overflow-hidden;
}

.img-cover {
    @apply w-full h-full object-cover;
}

.section {
    @apply pt-20 lg:pt-32;
}

.reveal-up {
    @apply translate-y-20 opacity-0;
}

/* ------------------ *\
 * COMPONENTS
\* ------------------ */

/* Navbar */
.navbar {
    @apply absolute top-full mt-2 right-0 min-w-40 p-2 bg-zinc-50/10 
    rounded-2xl ring-inset ring-1 ring-zinc-50/5 scale-90 isolate blur-sm opacity-0
    transition-[opacity,transform,filter] md:static md:flex
    md:items-center md:mt-0 md:opacity-100 md:blur-0
    md:visible md:scale-100 backdrop-blur-2xl dark:bg-zinc-900/80 dark:ring-zinc-700;
}

.navbar.active {
    @apply opacity-100 scale-100 blur-0 visible;
}

.nav-link {
   @apply grid items-center h-9 px-4 text-sm font-medium tracking-wide text-zinc-800/80 hover:text-blue-500 transition-colors;
 }
 
 .dark .nav-link {
   @apply text-zinc-50/80 hover:text-blue-400;
 }
 

.nav-link.active {
    @apply text-zinc-900 dark:text-zinc-50 duration-500;
}

.navbar .active-box {
    @apply absolute bg-zinc-50 dark:bg-zinc-700
    rounded-lg -z-10 transition-[top,left] duration-500;
}

/* Button */
.btn {
    @apply max-w-max h-9 flex items-center gap-2 px-4 rounded-xl font-medium text-sm ring-1
    ring-zinc-50/5 ring-inset transition-[background-color];
}

.btn-secondary {
    @apply bg-zinc-50 text-zinc-900 dark:bg-zinc-900 dark:text-zinc-50 
    active:bg-zinc-50/80 dark:active:bg-zinc-800;
}

.btn .material-symbols-rounded {
    @apply text-[18px];
}

.btn:has(.material-symbols-rounded) {
    @apply pr-3;
}

.btn-primary {
    @apply h-10 bg-purple-400 text-zinc-950 hover:bg-purple-300 active:bg-purple-400 rounded-md;
}

.btn-outline {
    @apply h-10 bg-zinc-800 hover:bg-zinc-700
    active:bg-zinc-800 dark:bg-zinc-700 dark:hover:bg-zinc-600 dark:active:bg-zinc-700 rounded-md;
}

/* Text field */
.label {
    @apply block text-zinc-700 dark:text-zinc-200 text-sm font-normal mb-2;
}

.text-field {
    @apply block outline-none w-full px-3 py-3 text-sm rounded-xl ring-1 ring-inset transition-shadow 
           bg-zinc-100 text-zinc-900 ring-zinc-300 hover:ring-zinc-400 focus:ring-2 focus:ring-sky-500 
           dark:bg-zinc-800 dark:text-zinc-100 dark:ring-zinc-600 dark:hover:ring-zinc-500 dark:focus:ring-sky-400;
}

.text-field::placeholder {
    @apply text-zinc-500 dark:text-zinc-400;
}


/* Contact Button */
.contact-btn {
    @apply relative inline-flex items-center justify-center px-6 py-3 font-semibold 
    text-white bg-gradient-to-r from-gray-800 to-gray-600 dark:from-gray-700 dark:to-gray-500 
    rounded-full shadow-lg transition-all duration-300 ease-in-out transform 
    hover:scale-105 hover:from-gray-600 hover:to-gray-800 
    dark:hover:from-gray-500 dark:hover:to-gray-700 focus:outline-none 
    focus:ring-4 focus:ring-gray-400;
}

.logo {
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2)); /* Light Mode */
  }
  
  .dark .logo {
    filter: drop-shadow(2px 2px 5px rgba(255, 255, 255, 0.2)); /* Dark Mode */
  }
  
